# Choropleth

In [65]:
import pandas as pd
import geopandas as gpd
import contextily as ctx
import matplotlib.pyplot as plt
import plotly.express as px
import plotly as plot
import numpy as np
import matplotlib as mpl

In [66]:
arrests = pd.read_csv('Arrest Counts Updated 3.csv')

Separate Document I created which shows the spatially joined totals of arrests of Black folks for the typologies put forth in the Beck works i.e. Narcotic drug offenses, traffic stops, etc.

In [67]:
hoods = gpd.read_file('LA_Times_Neighborhood_Boundaries.geojson')

In [68]:
df= hoods.merge(arrests, left_on="name",right_on="Neighborhood", how="outer")

In [69]:
df.sample()

,OBJECTID,name,geometry,ID,Neighborhood,Unnamed: 2,2010,2015,2020,2010 Percent Total,2015 Percent Total,2020 Percent of Total,Percent Change 2010-2023,Burden of Arrest
6,7,Beverly Crest,"POLYGON ((-118.42910 34.07920, -118.42929 34.0...",7,Beverly Crest,NaN,4.0000,1.0000,11.0000,0.0001,0.0,0.0004,2.3024,0.02

In [71]:
df = df[['name','Percent Change 2010-2023','Burden of Arrest','geometry']]

In [72]:
df.head()

,name,Percent Change 2010-2023,Burden of Arrest,geometry
0,Adams-Normandie,-0.3895,0.74,"POLYGON ((-118.30069 34.03731, -118.30388 34.0..."
1,Arleta,0.0007,0.04,"POLYGON ((-118.44255 34.26412, -118.44240 34.2..."
2,Arlington Heights,-0.2387,0.44,"POLYGON ((-118.31862 34.05306, -118.31673 34.0..."
3,Atwater Village,0.3724,0.03,"MULTIPOLYGON (((-118.27886 34.15321, -118.2788..."
4,Baldwin Hills/Crenshaw,0.0471,1.29,"POLYGON ((-118.36102 34.02532, -118.36026 34.0..."

In [81]:
fig = px.choropleth_mapbox(df, geojson=df.geometry, locations=df.index, color='Burden of Arrest',
                           mapbox_style="carto-positron",
                           range_color=(0, 2.75),
                           zoom=9.15, 
                           center = {"lat": 34.02, "lon": -118.38411},
                           opacity=1.0,
                           hover_name = 'name')

# options on the layout
fig.update_layout(
    width = 1200,
    height = 800,
    title = "Interactive Map - Neighborhood Share in Arrests of Black Individuals (2010-2023) ",
    title_y=.96,
    title_x=0.455,
) 

fig.write_html("Interactive Arrest Burden 2010-2023 Final.html")